{% extends "twitterapp/layout.html" %}

{% block body %}
    <div class="border mx-auto">
    <h3 class="margin_left20">Profile</h3><br>
    {% if profile_user.is_admin %}
    <span class="margin_left20">{{ profile_user.username }} is admin.</span>
    {% else %}
    <span class="margin_left20">{{ profile_user.username }} is not admin.</span>
    {% endif %}
    <p class="margin_left20">Email: {{ profile_user.email }}</p>

    
    <h6 class="margin_left20">Posts made by {{ profile_user.username }}:</h6><br>
    <ul>
        
        {% for post in posts %}
        <div class="col-sm-8">
            {{ post.text }}<br>
            <p id="font_small">Posted by <b>{{ post.user }}</b> <i>on {{ post.created_at }}</i></p>
            <hr>
        </div>
        {% endfor %}
    </ul>
{% endblock %}