{% extends "twitterapp/layout.html" %}

{% block body %}
    <div class="border mx-auto">
        <h3 class="margin_left20">Profile for {{ profile_user.username }}</h3><br>
        {% if profile_user.is_admin %}
        <span class="margin_left20">{{ profile_user.username }} is admin.</span><br>
        {% else %}
        <span class="margin_left20">{{ profile_user.username }} is not admin.</span><br>
        {% endif %}
        <span class="margin_left20">Email: {{ profile_user.email }}</span> <br>  

        <span class="margin_left20" id="font_small">Followers: {{ profile_user.followers.all|length }}.
            {% for follower in profile_user.followers.all %}
                {{ follower.username }},       
            {% empty %}
                No followers found.
            {% endfor %}
        </span><br>
        <span class="margin_left20" id="font_small">Following: {{ profile_user.following_count }}.
            {% for followed_user in profile_user.following.all %}
                {{ followed_user.username }},
            {% empty %}
                No users followed.
            {% endfor %}
        </span>
        <!-- Follow Button Form -->
        {% if user.is_authenticated %}
            {% if request.user != profile_user %}
                {% if request.user in profile_user.followers.all %}
                <form class="margin_left20" method="post" action="{% url 'unfollow_user' profile_user.username %}">
                    {% csrf_token %}
                    <button class="follow-btn" type="submit">Unfollow</button>
                </form>
                {% else %}
                    <form class="margin_left20" method="post" action="{% url 'follow_user' profile_user.username %}">
                        {% csrf_token %}
                        <button class="follow-btn" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        <br><hr>
        <h5 class="margin_left20">Posts made by {{ profile_user.username }}:</h5><br>
        <ul>        
            {% for post in posts %}
            <div class="col-sm-8">
                {{ post.text }}<br>
                <p id="font_small">Posted by <b>{{ post.user }}</b> <i>on {{ post.created_at }}</i></p>
                <hr>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}