.margin_left20 {
    margin-left: 20px;
}

.margin_right20 {
    margin-right: 20px;
}

.rounded-border {
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Border radius */
    padding: 10px; /* Padding for content inside the border */
    margin-bottom: 10px; /* Margin between list items */
}

.border {
    border: 1px solid #ccc; /* Border color */
    padding: 10px; /* Padding for content inside the border */
    margin-bottom: 10px; /* Margin between list items */
}

#font_small {
    font-size: small;
}

.font_small {
    font-size: small;
}

.like-btn {
    font-size: 12px; /* Adjust the font size to make the button smaller */
    padding: 1px 5px; /* Adjust the padding to make the button smaller */
}

.follow-btn {
    font-size: 12px; /* Adjust the font size to make the button smaller */
    padding: 1px 5px; /* Adjust the padding to make the button smaller */
}