{% extends "news/layout.html" %}

{% block body %}
    
    <h3 class="margin_left20">Večernji</h3>

<div class="container">
    <table class="table-success table-sm">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <thead>
                <tr>
                    <th scope="col">Najčitanije</th>
                    <th scope="col">Najnovije</th>
                </tr>
                </thead>
                <tbody>
                {% for title, title2 in zipped_titles %}      
                <tr>     
                    <td><a href="https://www.vecernji.hr{{ title.link }}">{{ title.title }}</a></td>     
                    <td><a href="https://www.vecernji.hr{{ title2.link }}">{{ title2.title }}</td>  
                </tr>     
                {% endfor %}                 
                </tbody>
            </div>
        </div>
    </table>
</div>


{% endblock %}